 <div class="justify-content-md-center row">
    <h2 class="display-4">Welcome to Chat Analyze Service</h2>     
</div>
   
 
 <div class="justify-content-md-center row">
      <a href="/doc" class="btn btn-md btn-outline-success">click me for Text Analyze Service</a> 
    </div>
      
<div id="chatBox" class="justify-content-md-center row">
     <div class="col-sm-8 frame">
            <ul></ul>
            <div>
                <div class="msj-rta macro" style="margin:auto">                        
                    <div class="text text-r" style="background:whitesmoke !important">
                        <input class="mytext" placeholder="Type a message"/>                        
                    </div>                 
                </div>

            </div>
        </div>   
</div>

<div class="row" style="padding-top: 30px;">
 <div class="col-sm-4">
     <p class="lead">Input</p>
     <textarea  id="input_message"  class="form-control" disabled rows="10"></textarea>    
 </div>
  <div class="col-sm-8">
      <p class="lead">Output</p>
       <textarea  id="output_message"  class="form-control" disabled rows="10"></textarea>    
  </div>

</div>

<script src="/js/main.js"></script>

